<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>Synth</string>
					<key>manufacturer</key>
					<string>ESPK</string>
					<key>name</key>
					<string>eSpeak-NG</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>espk</string>
					<key>tags</key>
					<array>
						<string>Speech Synthesizer</string>
					</array>
					<key>type</key>
					<string>ausp</string>
					<key>version</key>
					<integer>67072</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).AudioUnitFactory</string>
	</dict>
</dict>
</plist>
